<h1 class= "text-center"><%= @article.title %></h1>

<div class ="container mt-4">
  <div class ="row justify-content-md-center">
    <div class ="col-8">
      <div class="card text-center">
        <div class="card-header">
          by <%= link_to @article.user.username, user_path(@article.user) %>
          <h5 class="card-title"><%= gravatar_for @article.user, size:100 %> </h5>
        </div>
        <div class="card-body">
          <p class="card-text"><%= @article.description %></p>
          <% if logged_in? && @article.user == current_user %>
          <%= link_to 'edit', edit_article_path(@article), class: "btn btn-outline-info" %>
          <%= button_to 'delete', article_path(@article), method: :delete, data: { turbo: false }, class: "btn btn-outline-danger", form_class: "inline-form" %>
          <% end %>
        </div>
        <div class="card-footer text-body-secondary">
          Created <%= time_ago_in_words(@article.created_at)%> ago, Updated <%= time_ago_in_words(@article.updated_at)%> ago
        </div>
      </div>
    </div>
  </div>
</div>